* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #f9f9f9!important;
    scroll-behavior: smooth!important;
}


/* Education */


.edu {
    background-image: url('./assets/education.jpg');
  }


  .env {
    background-image: url('./assets/env.jpg');
  }



.hero2 {
    position: relative;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    min-height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h2 {
        padding-top: 250px;
    }
  }


  .hero2 h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .hero2 p {
    font-size: 1.2rem;
  }


  .hero2 a {
    display: block;
    padding: 12px 20px;
    background-color: #15945f;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    text-decoration: none;
    margin-top: 50px;
  }





  :root {
    --var-maincl: #ff849d;
    --var-scndcl: #46eca7;
    --var-scndclhvr: #a9fad8;
}


.noMobile {
    display: none;
}


@media screen and (max-width: 800px) {
    .noMobile {
        display: block;
        width: 100vw;
        height: 100vh;
        background: #555;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}



div.headMin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 40px;
    font-size: 13px;
    color: white;
    background-color: black;
    z-index: 5;

    a {
        color: rgb(223, 223, 223);
        text-decoration: none;
    }


    span a {
        color: rgb(98, 98, 98);
        font-size: 1rem;
    }

    span {
        color: rgb(98, 98, 98);
        padding: 0 8px;
    }

    .right {
        display: flex;
        align-items: center;
    }

}

.nav li {
    position: relative;
}

.downArrow {
    color: var(--var-maincl);
    font-size: 10px;
    cursor: pointer;
}


.nav > li .dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    width: 150px;
    border-left: 5px solid var(--var-maincl);
    z-index: 2;
   
    
    li {
        transition: 0.2s ease-in-out;
        padding: 7px 30px;
        cursor: pointer;
    }

    a {
        font-size: 12px;
    }

    li:hover {
        transition: 0.2s ease-in-out;
        background-color: var(--var-maincl);
        
        a {
            color: white;
        }
    }

    a:hover {
        color:rgb(82, 82, 82);
    }

    
}


header {
    display: flex;
    justify-content: space-between;
    padding: 7px 50px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: -1px -1rem 1.7rem -0.1rem #454545;
    

    .left {
        display: flex;
        align-items: center;
    }

    .logo {
        padding: 0 20px;
    }

    a {
        text-decoration: none;
    }

}

.navbar {
    color: var(--var-maincl);
    width: 100%;
    display: inline-block;
    z-index: inherit;

    ul {
        list-style: none;
        display: flex;
        gap: 5px;
    }

    a {
        padding: 0 6px;
        color: darkslategray;
        font-size: 14px;
    }
}


.don {
    transition: 0.4s ease-in-out;
    padding: 8px 18px;
    border-radius: 60px;
    border: none;
    background-color: var(--var-scndcl);
    color: white;
    font-weight: bold;
    border: 0.5px solid var(--var-scndclhvr);
}

.don:hover {
    transition: 0.4s ease-in-out;
    border: 5px solid var(--var-scndclhvr);
}



.barsbtn {
    display: none;
}


.navbarBg {
    transition: 0.2s all ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(244, 109, 109);
    width: 100%;
    height: 100vh;
    transform: translateX(-100vw);
}


.navclose {
    transition: 0.2s all ease-in-out;
    position: fixed;
    top: 30px;
    right: 50px;
    font-size: 2rem;
    color: white;
    transform: translateX(-100vw);
    z-index: 1000;
    cursor: pointer;
}


.navbarMob {
    transition: 0.3s all ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 99vh;
    background-color: rgb(0, 26, 36, 0.9);
    z-index: 999;
    transform: translateX(-100vw);

    ul li a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        display: inline-block;
        margin: 10px 0;

    }

    li .line {
        transition: 0.2s all ease-in-out;
        width: 0;
        height: 3px;
        background-color: rgb(243, 125, 125);
    }

    li:hover .line {
        width: 40px;
    }

    ul {
        list-style: none;
        width: 90%;
        overflow: hidden;
    }
}

.showNav {
    transform: translateX(0);
}


        @media screen and (max-width: 1080px) {

            .headMin {
                display: none!important;
            }


            .navbar {
                display: none;
            }

            .donate {
                display: none;
            }

            .barsbtn {

                transition: 0.2s all ease-in-out;
                font-size: 20px;
                border: 1px solid gray;
                border-radius: 5px;
                padding: 8px;
                display: block;
                cursor: pointer;

            }

            .barsbtn:hover {
                background-color: gray;
                color: white;
            }
        }





@media screen and (max-width: 800px) {
    .imgTree {
        flex-direction: column;
        align-items: center;
    
    
    .sideOne, .sideTwo {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
        
        
        img {
            max-width: 100%;
            object-fit: cover;
        }
        
    }
        
}

.sepratorHr {
    height: 2px;
    width: 50px;
    margin: 10px 0;
    background-color: #ccc;
}


.worksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.worksContainer .works {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.works .work {
    text-align: center;
    padding: 0 20px;
    margin: 60px 0;

    .icon {
        font-size: 5rem;
        color: #89ff5b;
    }

    .head {
        font-weight: bold;
        margin: 8px 0;
        font-size: 19px;
    }
}

footer {
    display: flex;
    background-color: rgb(54, 50, 50);
    color: white;
    align-items: center;
    justify-content: space-around;
    padding: 50px 90px;
    margin-top: -40px;

    .contact {
        align-self: flex-start;
    }

    .about {
        max-width: 350px;
    }

    /* .links {
        text-align: center;
    } */

    ul {
        list-style: none;
    }

    a {
        transition: 0.2s;
        color: white;
        text-decoration: none;
    }

    a, p {
        font-size: 14px;
    }

    a:hover {
        text-decoration: underline;

    }
}

.sepraTwo {
    height: 1px;
    width: 50px;
    background-color: white;
    margin: 4px 0;
}


.sepraThree {
    height: 1px;
    background-color: #555;
    width: 400px;
}


.foot-social {
    background-color: #363232;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;

    .headFootSocial {
        margin: 20px 0;
        font-size: 1.4rem;
    }

    .containsSocial {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sepCircle {
        background-color: var(--var-maincl);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        display: inline-block;;
    }

    a {
        color: gray;
        font-size: 1.6rem;
        margin: 0 50px;
    }
}


.foot {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    border-bottom: 5px solid var(--var-maincl);
}


.sepCircle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(53, 53, 53);
    margin: 0 5px;
}


/* Later add-ons */


.card {
    position: relative;
    width: 250px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1rem 1.5rem -0.1rem #e6e6e6;
    overflow: hidden;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease;
    border-bottom: 5px solid #ff849d;
}

.card img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.card p {
    font-size: 0.9rem;
    color: #555;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

.card:hover img {
    transform: translateY(-120%);
    opacity: 0;
}

.card:hover h3 {
    transform: translateY(-50px);
}

.card:hover p {
    opacity: 1;
    transform: translateY(0);
}


/* Back to top button */


.topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* z-index: 9; */

    .indicate {
        font-size: 12px;
        color: rgb(83, 83, 83);
        text-align: center;
        margin-top: 5px;
    }
}

#back-to-top {
    transition: 0.2s ease-in-out;
    padding: 10px 15px;
    color: white;
    border-radius: 50%;
    /* height: 25px; */
    /* width: 25px; */
    font-size: 15px;
    text-align: center;
    background-color: var(--var-maincl);
    border: 2px solid lightgray;
    cursor: pointer;
}

#back-to-top:hover {
    background-color: white;
    color: var(--var-maincl) !important;
    border: 2px solid var(--var-maincl);
}


/* Our Leadership team section Four */


.margin-20 {
    margin-top: 20px;
}

.colorDiff {
    background: #eee;
    margin-top: -10px;
}

.showcase {
    position: relative;
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    background: #eee;
}



.showcase .team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
}

.team-member {
    margin: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #ddd;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.team-member:hover p {
    color: var(--var-maincl);
}

.team-member:hover h3 {
    color: var(--var-maincl);
}


.team-member img.president {
    width: 210px;
    height: 210px;
}

.team-member h3 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #333;
}

.team-member p {
    margin: 0;
    color: #666;
    font-size: 16px;
}

.showcase::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23eee" fill-opacity="1" d="M0,96L30,101.3C60,107,120,117,180,128C240,139,300,149,360,160C420,171,480,181,540,192C600,203,660,213,720,192C780,171,840,101,900,69.3C960,37,1020,43,1080,80C1140,117,1200,187,1260,218.7C1320,250,1380,224,1410,211.3L1440,192L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>');
    background-size: cover;
    z-index: -1;
}

@media (max-width: 768px) {
    .team {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .team-member {
        margin: 20px 0;
    }

    .team-member img {
        width: 150px;
        height: 150px;
    }

    .team-member img.president {
        transform: translateY(0);
    }
}


/* Subscribe section five */


.subscribe-section {
    position: relative;
    background: none;
    padding: 40px;
    width: 100%;
    overflow: hidden;
}

.shape {
    position: absolute;
    border-radius: 50%;
    opacity: 0.2;
}
.shape1 {
    width: 80px;
    height: 80px;
    background-color: #ff849d;
    top: 30px;
    left: 200px;
    z-index: -1;
}
.shape2 {
    width: 110px;
    height: 110px;
    background-color: #46eca7;
    bottom: 5px;
    right: 5px;
    z-index: -1;
}
.shape3 {
    width: 60px;
    height: 60px;
    border: 2px solid #ff849d;
    top: 20px;
    right: 500px;
    z-index: -1;
}
.shape4 {
    width: 100px;
    height: 100px;
    border: 2px solid #46eca7;
    bottom: 15px;
    left: 10px;
    z-index: -1;
}

.subscribe-form {
    display: flex;
    align-items: center;
}

.subscribe-form input[type="text"],
.subscribe-form input[type="email"] {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin-right: 10px;
    font-size: 14px;
    outline: none;
    width: 45%;
    transition: border-color 0.3s;
    background: none;
}

.subscribe-form input[type="text"]:focus,
.subscribe-form input[type="email"]:focus {
    border-color: #ff849d;
}

.subscribe-form button {
    padding: 10px 20px;
    background-color: #46eca7;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.subscribe-form button:hover {
    background-color: #3cb089;
}




/* Section Six Our Works */



.works {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.works .card {
    position: relative;
    width: 250px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1rem 1.5rem -0.1rem #e6e6e6;
    overflow: hidden;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
    border-bottom: 5px solid #d4a5f9;


img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    transition: all 0.3s ease;
}

h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

p {
    font-size: 0.9rem;
    color: #555;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s ease;
}

a {
    font-size: 0.9rem;
    color: #555;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s ease;
}

.sep {
    width: 50px;
    height: 1px;
    background-color: #d4a5f9;

}


a {
transition: 0.4s ease-in-out;
padding: 8px 18px;
border-radius: 60px;
border: none;
background-color: #46eca7;
color: white;
font-weight: bold;
text-decoration: none;
}


}
.works .card a:hover {
background-color: #2ebb81;
}



.works .card:hover img {
    transform: translateY(-120%);
    opacity: 0;
}

.works .card:hover h3 {
    transform: translateY(-70px);
}

.works .card:hover p {
    opacity: 1;
    transform: translateY(-30px);
}

.works .card:hover a {
    opacity: 1;
    transform: translateY(-15px);
}


.margin-50 {
    margin-top: 50px;
}



.sixPartTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    gap: 60px;
    background-color: #eee;
    flex-wrap: wrap;
    padding-bottom: 50px;

    div {
        max-width: 50%;
    }

    .left {
        max-width: 500px;
    }

    h3 {
        margin: 20px 0;
        font-size: 1.6rem;
    }
    
    .right img{
        max-height: 320px;
        object-fit: cover;
    }
}




/* Section Seven */


.dev {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
    padding-left: 50px;
    position: relative;
    background-color: #eee;
}


.carousel-container {
    position: relative;
    width: 95%;
    overflow: hidden;
}

.carousel2 {
    display: flex;
    transition: transform 0.5s ease;
}


.card2::before {
    display: block;
    background: url('./assets/about1.png');
    position: fixed;
    top: 0;
    left: 0;
    height: 400px;
    max-width: 50%;
}

.card2 {
    flex: 0 0 50%;
    max-width: 50%;
    height: 400px;
    margin: 10px;
    background:none;
    opacity: 0.4;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    border-bottom: 4px solid var(--var-maincl);
    flex-wrap: wrap;
}




.card-content {
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
}

.card-content h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.card-content p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 15px;
}

.card-content a {
    transition: 0.4s ease-in-out;
    padding: 8px 18px;
    border-radius: 60px;
    border: none;
    background-color: #46eca7;
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 60%;
    text-align: center;
}

.card-content a:hover {
    background-color: #30bf83;
    color: #fff;
}

.card-image {
    width: 60%;
    background-size: cover;
    background-position: center;
}


.card2:nth-child(1) {


    a {
        background-color: orange;
    }
}


.card2:nth-child(2) {


    a {
        background-color: #2ebb81;
    }
}



.card2:nth-child(3) {

    a {
        background-color: rgb(0, 145, 255);
    }
}



.card2:nth-child(4) {
    
    
    a {
        background-color: var(--var-maincl);
    }
}



.card2:nth-child(5) {
    
    a {
        background-color: gray;
    }
}





.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #555;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}



.sevenPartTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 150px;

    .left {
        max-width: 40%;
    }

    .right {
        max-width: 40%;
    }

    h3 {
        font-size: 1.5rem;
        margin: 20px 0;
    }
}



.adopt a {
    text-decoration: none;
}



/* Adoption Page */


.containerDon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 100px;


.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.donation-image {
    width: 100px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.phone-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.goal-section {
    text-align: left;
    margin-bottom: 10px;
}

.goal-section div {
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 5px;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
}

.buttons {
    margin-top: 20px;
}

button {
    transition: 0.4s ease-in-out;
    padding: 8px 18px;
    border-radius: 60px;
    border: none;
    background-color: #15945f;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

button:hover {
    background-color: #27b57a;
}

}


/* Contact Page */



.wrapperCon {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    margin-top: 70px;

.container-form {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.container-form h2 {
    color: var(--var-maincl);
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--var-maincl);
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 2px solid var(--var-maincl);
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: var(--var-maincl);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--var-maincl);
}

}


/* Join Page */





.wrapperJo {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

h2 {
    color: var(--var-maincl);
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

.btn {
    text-align: center;
}

#submit-btn {
    background-color: var(--var-maincl);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: var(--var-maincl);
}




/* About Page */



.hero {
    position: relative;
    padding: 80px 20px;
    text-align: center;
    color: white;
background: #00000096;
}

.hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: url('./assets/tree (1).jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    overflow: hidden;
    z-index:-1;
}



.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

.wrapperAbt {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;


.content {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 30px;
}

h2,
h3,
h4 {
    color: var(--var-maincl);
    margin: 10px 0;
}

p,
ul {
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.achievements,
.vision-goals,
.our-vision,
.our-mission {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 30px;
}

.achievement-item,
.goal-item,
.vision-item,
.mission-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.achievement-image,
.goal-image,
.vision-image,
.mission-image {
    width: 300px;
    height: 200px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit:cover;
}

.achievement-text,
.goal-text,
.vision-text,
.mission-text {
    flex: 1;
}

.btn {
    text-align: center;
}

#bt {
    background-color: var(--var-maincl);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#bt:hover {
    background-color: var(--var-maincl);
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--var-maincl);
    color: white;
}

@media (max-width: 768px) {
    .achievement-item,
    .goal-item,
    .vision-item,
    .mission-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .achievement-image,
    .goal-image,
    .vision-image,
    .mission-image {
        margin-right: 0;
        margin-bottom: 15px;
        
    }
}

}


/* Adoption Page */




.hero2 {
    position: relative;
    background-image: url('./assets/pets.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .hero2 h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .hero2 p {
    font-size: 1.2rem;
  }


  .hero2 a {
    display: block;
    padding: 12px 20px;
    background-color: #15945f;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    text-decoration: none;
    margin-top: 50px;
  }

  .containerPt {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  

  .filter-bar {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 50px 0;
  }

  .filter-bar button {
    transition: 0.2s ease-in-out;
    background-color: rgb(39, 160, 110);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .filter-bar button:hover {
    background-color: rgb(34, 142, 97);
  }


  .pet-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .pet-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid rgb(34, 142, 97);
    transition: transform 0.3s ease;
  }

  .pet-card:hover {
    transform: translateY(-5px);
  }

  .pet-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .pet-card-content {
    padding: 15px;
    flex-grow: 1;
  }

  .pet-card h3 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 5px;
  }

  .pet-card p {
    font-size: 1rem;
    color: #666;
    margin: 5px 0;
  }

  .pet-card .age, .pet-card .breed {
    font-size: 0.9rem;
    color: #888;
  }

  .pet-card .adopt-btn {
          transition: 0.4s ease-in-out;
          padding: 8px 18px;
          cursor: pointer;
          border-radius: 5px;
          border: none;
          background-color: rgb(39, 160, 110);
          color: white;
          font-weight: bold;
          border: 0.5px solid rgb(169, 250, 216);
  }

  .pet-card .adopt-btn:hover {
      background-color: rgb(43, 184, 125);
  }

  @media (max-width: 768px) {
    .pet-card {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }

  @media (max-width: 480px) {
    .pet-card {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

}


/* Adopt Pet */



.overlayPt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 700px;
    z-index: 1001;
}
h2 {
    color: rgb(39, 160, 110);
    text-align: center;
}
label {
    margin: 10px 0 5px;
    display: block;
    color: #555;
}
input[type="text"], 
input[type="email"], 
input[type="tel"], 
textarea {
    width: 98%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: rgb(39, 160, 110);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: darkgreen;
}

a {
    color: #333;
    text-align: center;
    display: block;
    width: 100%;
}

}




@media screen and (max-width: 1024px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        padding: 50px;
    }

    .foot-social {
        display: flex;
        flex-direction: column;


        .containsSocial span a {
            font-size: 1.2rem;
        }

        .sepCircle {
            display: none;
        }

    }
}
